
<br><br><br><br><br>
    <div class="animsition">
    <h1 id="welcome"> Welcome </h1>
    
    <div class="form-group text-center">
        <button class="btn btn-outline-secondary btn-wide home_buttons animsition-link" type="submit">
            <span aria-hidden="true"></span>
            <a href="aboutme.php" class="animsition-link">About Me</a>
        </button>
        <button class="btn btn-outline-secondary btn-wide home_buttons animsition-link" type="submit">
            <span aria-hidden="true"></span>
            <a href="projects.php" class="animsition-link">Projects</a>
        </button>
        <button class="btn btn-outline-secondary btn-wide home_buttons animsition-link" type="submit">
            <span aria-hidden="true"></span>
            <a href="experience.php" class="animsition-link">Experience</a>
        </button>
    <!--</div>-->
</div>