<%- include('header') %>

<body>
    <div class="text-center content">
      <img id="icon" src="/images/me.jpg"/>
      <h1 id="welcome"> Hello, I'm Jessica! </h1>

    <br>
    
    <p id="about">
    nice to meet you! i'm a recent yale graduate living in New York, working as a software engineer at a lil startup. we built some cool gen-z, mental health, fashion content. before this, i did some work at five rings capital and girls who code. big fan of food and eating it. i'll probably have more to say about myself if we talk in person.
    
    <br/><br/>
    contact me at jhongtx@gmail.com!
    
    <br/>
    some projects:
    </p>
    
    <br/>
    <div class="parent">
    <ul>
    <li><a href="https://yada.land/">yada</a></li>
    <li> <a href="https://buywithsage.com/">buywithsage.com</a></li>
    <li> <a href="https://coopcoopcoop.com/">coop</a></li>
    <ul>
    </div>


<%- include('footer') %>
