p {
    font-size:17px
}

body{
    background-color:black;
    font-family: 'Raleway', sans-serif;
    color:white;
}


#footer{
    text-align:center;
    color:white;
    font-size:13px;
}

#welcome{
    text-align:center;
    color: white;
}

#aboutme{
    text-align:center;
}

.info{
    text-align:center;
}


.navbar a{
    background-color:transparent;
    color: white;
}

.navbar{
    background-color:transparent;
    color:white;
}

.navbar-inverse .navbar-nav > li > a{
    color:gray;
}

.home_buttons{
    background-color:transparent;
    outline-color:white;
    color:white;
}

.home_buttons:hover{
    background-color:white;
    color:black;
}    

.home_buttons a{
    color:white
}

.home_buttons a:hover{
    color:black;
}
